<nav>
    <ul>
        <li *ngFor="let route of routes">
            <a [routerLink]="route.url" routerLinkActive="active-link">{{ route.title }}</a>
            <ul *ngIf="route.subRoutes">
                <ng-container *ngTemplateOutlet="renderMenu; context: { $implicit: route.subRoutes }"></ng-container>
            </ul>
        </li>
    </ul>

    <ng-template #renderMenu let-subRoutes>
        <li *ngFor="let subRoute of subRoutes">
            <a [routerLink]="subRoute.url" routerLinkActive="active-link">{{ subRoute.title }}</a>
            <ul *ngIf="subRoute.subRoutes">
                <ng-container *ngTemplateOutlet="renderMenu; context: { $implicit: subRoute.subRoutes }"></ng-container>
            </ul>
        </li>
    </ng-template>
</nav>